<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Shuffle_Sync.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
    </startup>
    <userSettings>
        <Shuffle_Sync.Properties.Settings>
            <setting name="sourcePath" serializeAs="String">
                <value />
            </setting>
            <setting name="driveletter" serializeAs="String">
                <value />
            </setting>
            <setting name="filetype" serializeAs="String">
                <value />
            </setting>
            <setting name="targetPath" serializeAs="String">
                <value />
            </setting>
            <setting name="deletefiles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="syncMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="syncCondition" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="needsUpgrade" serializeAs="String">
                <value>True</value>
            </setting>
        </Shuffle_Sync.Properties.Settings>
    </userSettings>
</configuration>
